html {
    height: 100%;
}

body {
    background-color: rgb(44, 44, 44);
    align-items: center;
    color: white;
    font-size: medium;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: medium;
    margin-bottom: 10mm;
    margin-top: 2mm;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 2mm;
    transition: all 0.3s;
    font-family: inherit;
}

textarea {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    resize: none;
    width: calc(100% - 4mm);
    height: calc(100% - 4mm);
    font: inherit;
    border: 0;
    padding: 2mm;
    border-radius: 2mm;
}
textarea::placeholder {
    color: rgb(124, 124, 124);
}

a:link {
    color: dodgerblue;
}
a:visited {
    color: mediumpurple;
}
a:active {
    color: grey;
}

/* progress {
    width: auto;
} */

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: auto;
    width: 90%;
    max-width: 25cm;
}

.border {
    padding: 2mm;
    border: 1px solid white;
    border-radius: 2mm;
}

.main_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2mm;
    display: grid;
    grid-gap: 2mm;
    border-radius: 4mm;
    width: calc(100% - 4mm);
    flex: 0 1 auto;
}

.search_columns {
    grid-template-columns: 1fr auto 2cm;
}

.text_area_outer {
    overflow: hidden;
    padding: 0;
}

.search_options {
    font-size: small;
}

.output_container_outer {
    overflow: hidden;
    padding: 0;
    height: 500px;
    width: 100%;
    flex: 1 1 auto;
    margin-bottom: 1cm;
}
.output_container {
    font-size: medium;
    overflow-y: auto;
}

.go_button {
    font-size: x-large;
}
.go_button:hover {
    background-color: lightgreen;
    color: black;
}

/* .button_status {
    font-size: small;
    max-height: 0;
    opacity: 0;
    transition: max-height .3s, opacity .3s;
} */

.collapsible_container {
    background-color: rgba(255, 255, 255, 0);
    border: 0 solid white;
    border-radius: 2mm;
    padding: 0;
    margin: 2mm;
    text-align: left;
    opacity: 0; 
    transition: padding 0.25s, opacity 0.5s; /* , border 0.25s; */
}

.collapsible {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 2mm;
    text-align: left;
    transition-duration: 0.3s;
    padding: 2mm;
    font-size: large;
    width: 100%;
}
.collapsible:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}
.collapsible_active {
    background-color: rgb(27, 27, 27);
    font-weight: bold;
}

.collapsible_content {
    max-height: 0;
    overflow: hidden;
    /* padding-left: calc(2mm + 1px); */
    padding-right: calc(4mm + 2px);
    transition: max-height 0.25s ease-in-out, padding-right 0.25s;
    font-weight: normal;
    font-size: small;
}

.dictated_name {
    font-size: medium;
    font-weight: normal;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    max-height: 0;
}

.output_status {
    font-size: small;
    font-weight: normal;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s;
}

.mini_header {
    /* font-style: italic; */
    margin-top: 4mm;
    font-size: medium;
    font-weight: bold;
}

.multiline {
    white-space: pre-wrap;
    margin-top: 1mm;
    word-wrap: break-word;
    background-color: white;
    width: fit-content;
    color: black;
    border-radius: 1mm;
    padding: 1mm;
}

.plain_text {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: black;
}